nav {
    width: 100%;
    min-height: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;

    .nav {
        &__home-button {
            width: 15%;
            height: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
        }

        &__line-decorator {
            width: 45%;
            height: 5%;
            backdrop-filter: blur(50px);
            background: rgba(169, 169, 169, 0.144);
            position: relative;
            left: 1%;
            z-index: 2;
        }

        &__items {
            width: 60%;
            height: 100%;
            backdrop-filter: blur(10px);
            background: rgba(169, 169, 169, 0.144);

            ul {
                display: flex;
                justify-content: space-around;
                height: 100%;
                margin: 0;
                padding: 0;

                li {
                    list-style-type: none;
                    min-width: 5%;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    font-family: Poppins;
                    text-transform: uppercase;
                    font-size: 13px;
                    color: rgb(213, 213, 213);

                    a {
                        color: rgba(255, 255, 255, 0.57);
                        text-decoration: none;

                        span {
                            margin-right: 5px;
                            color: white !important;
                            font-weight: bold;
                        }
                    }
                }
            }
        }        
    }
}